// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table.chess {
  border-spacing: 0px;
  border: solid 1px
}
table.chess tr td {
  width: 30px;
  height: 30px;
  border: none #000 0px;
  font-size: 2em;
  text-align: center;
}

table.chess tr:nth-child(odd) td:nth-child(even)  {background: #CCC;}
table.chess tr:nth-child(even) td:nth-child(odd)  {background: #CCC;}
